---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Layout from '../layouts/Layout.astro';
---

<Layout title="AlphaTechnolog">
	<div class="w-full h-[93vh] flex flex-col justify-center items-center font-extralight text-center">
		<Image
			src="https://github.com/alphatechnolog.png"
			width="128"
			height="128"
			alt="alphatechnolog.png"
			class="border border-solid border-background-border rounded-full"
		/>
		<h3 class="text-xl pt-2">Hi! I am <span class="text-blue">AlphaTechnolog</span></h3>
		<button
			class="bg-gray-300 px-4 py-2 rounded-full text-sm text-background font-normal mt-2 transition-colors duration-300 hover:bg-gray-300/80 active:bg-gray-300/65 flex justify-center items-center gap-x-1"
			data-github-button
		>
			<Icon name="github" class="text-xl" />
			Check my GitHub
		</button>
	</div>

	<section class="w-full flex justify-end items-end">
		<p class="text-sm text-gray-700">Work in progress</p>
	</section>
</Layout>

<script>
	const gotogithub_button = document.querySelector("[data-github-button]") as HTMLButtonElement | null;

	if (gotogithub_button) {
		gotogithub_button.onclick = () => {
			window.open("https://github.com/alphatechnolog", "_blank");
		}
	}
</script>