---
import SidebarButton from "./SidebarButton.astro";
---

<section class="bg-background-shade border-r border-solid border-background-border min-h-screen flex flex-col justify-end items-center p-1 pb-3 gap-y-1">
  <SidebarButton url="https://twitter.com/alpha_technolog" icon="x" size="text-sm" />
  <SidebarButton url="https://www.linkedin.com/in/franklin-gabriel-guerra-salazar-420111280" size="text-sm" icon="linkedin" />
  <SidebarButton url="https://github.com/alphatechnolog" icon="github" />
</section>