---
import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
  url: string;
  size?: string;
}

const { icon, url, size } = Astro.props;
---

<sidebar-button data-url={url}>
  <button class="p-2 rounded-full bg-transparent hover:bg-background-border duration-300 transition-colors">
    <Icon name={icon} class={size ?? "text-md"} />
  </button>
</sidebar-button>

<script>
  class SidebarButton extends HTMLElement {
    constructor() {
      super();

      const button = this.querySelector("button");

      if (!button) {
        return;
      }

      button.addEventListener("click", () => {
        window.open(this.dataset.url, "_blank");
      });
    }
  }

  customElements.define("sidebar-button", SidebarButton);
</script>